@model IEnumerable<BlackStorkApp.Models.TopicModel>
@{
    ViewBag.Title = "Blog";
}
<h2>Blog</h2>

@foreach (BlackStorkApp.Models.TopicModel topic in Model)
{
    <div class="row">
        <p>@topic.Header</p>
        <p>@topic.Description</p>
        <p>@topic.DateOfCreate</p>
        <form action="Blog/FullTextNews" method="post">
            <input type="hidden" name="id" value="@topic.TopicId"/>
            <input type="submit" value="read more"/>
        </form>
    </div>
}

