@model IEnumerable<BlackStorkApp.Models.TopicModel>
@{
    ViewBag.Title = "Blog";
}
<h2>Blog</h2>

@foreach (BlackStorkApp.Models.TopicModel currentTopic in Model)
{
    <div class="row">
        <p>@currentTopic.Header</p>
        <p>@currentTopic.Description</p>
        <p>@currentTopic.DateOfCreate</p>
        <form action="Blog/GetDescriptionOfNews" method="post">
            <input type="hidden" name="id" value="@currentTopic.TopicId"/>
            <input type="submit" value="read more"/>
        </form>
    </div>
}

