<div class="container">
    <div class="footer-widgets-wrap clearfix">
        <div class="col_two_third">
            <div class="col_one_third">
                <div class="widget clearfix">
                    <h2>Black Stork</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                        ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    </p>
                </div>
            </div>
            <div class="col_one_third">
                <div class="widget clearfix">
                    <h4>Контакты</h4>
                    <address>
                        <strong>Headquarters:</strong><br>
                        795 Folsom Ave, Suite 600<br>
                        San Francisco, CA 94107<br>
                    </address>
                    <abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
                    <abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br>
                    <abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
                </div>
            </div>
            <div class="col_one_third col_last">
                <div class="widget clearfix">
                    <h2>Lorem ipsum</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                        ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    </p>
                </div>
            </div>
        </div><!-- .col_two_third -->

        <div class="col_one_third col_last">
            <div class="widget subscribe-widget clearfix">
                <h5><strong>Подпишитесь</strong> на наши последние новости, чтобы первыми получать информацию о новых товарах или скидках</h5>
                <div class="widget-subscribe-form-result"></div>
                <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
                    <div class="input-group divcenter">
                        <span class="input-group-addon"><i class="icon-email2"></i></span>
                        <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Введите Ваш e-mail">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Подписаться</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

    </div><!-- .footer-widgets-wrap end -->
</div>

<div id="copyrights">
    <div class="container clearfix">
        Copyrights &copy; 2017 All Rights Reserved by Black Stork.
        <br>Powered by Violetta Haiduk
    </div>
</div><!-- #copyrights end -->
