<div class="container">
    <div class="footer-widgets-wrap clearfix">
        <div class="col_two_third">
            <div class="col_one_third">
                <div class="widget clearfix">
                    <h4>О компании</h4>
                    <p>
                        Black stork - это молодая, но динамически развивающаяся компания по производству аммуниции для собак, ключевым направлением которой является ездовой спорт. 
                    </p>
                </div>
            </div>
            <div class="col_one_third">
                <div class="widget clearfix">
                    <h4>Контакты</h4>
                    <address>
                        <strong>Адрес:</strong><br>
                        Беларусь, Борисов<br>
                    </address>
                    <abbr title="Phone Number"><strong>Teлефон:</strong></abbr> +375(44)7278991<br/>
                    <abbr title="Email Address"><strong>Email:</strong></abbr> buslik-2@yandex.ru<br/>
                    <abbr title="Site"><strong>Сайт:</strong></abbr> www.black-stork.net<br/>                  
                </div>
            </div>
            <div class="col_one_third col_last">
                <div class="widget clearfix">
                    <h4>Сообщество</h4>
                    <ul>
                        <li><a href="https://vk.com/blackstorkby">ВКонтакте</a></li>
                        <li><a href="https://web.facebook.com/groups/blackstorkby/?fref=ts">Facebook</a></li>
                        <li><a href="http://husky.mybb.by/viewtopic.php?id=460">Хаски-форум</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- .col_two_third -->

        <div class="col_one_third col_last">
            <div class="widget subscribe-widget clearfix">
                <h4>Подписка</h4>
                <p>Подпишитесь на наши последние новости, чтобы первыми получать информацию о новых товарах или скидках.</p>
                <div class="widget-subscribe-form-result"></div>
                <form id="widget-subscribe-form" action="#" role="form" method="post" class="nobottommargin">
                    <div class="input-group divcenter">
                        <span class="input-group-addon"><i class="icon-email2"></i></span>
                        <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Введите Ваш e-mail">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Подписаться</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

    </div><!-- .footer-widgets-wrap end -->
</div>

<div id="copyrights">
    <div class="container clearfix">
        Copyrights &copy; 2017 All Rights Reserved by Black Stork.
        <br>Powered by Violetta Haiduk
    </div>
</div><!-- #copyrights end -->
