@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Панель администратора";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="page-title">
        <div class="title_left">
            <h3>Панель администратора сайта</h3>
        </div>
    </div>

    <div class="x_panel">
        <h1>Страница находится в разработке!</h1>
    </div>
</div>

