
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="Admin/GetAllTopics" class="btn btn-info">View all topics</a>
<a href="Admin/GetAllProducts" class="btn btn-info" hidden>View all products</a>


