@model IEnumerable<BlackStorkApp.Models.SubscribeModel>
@{ 
    ViewBag.title = "Рассылка новотей";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="page-title">
        <div class="title_left">
            <h3>Рассылка новостей</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="title_left">
                        <h2>Получатели рассылки</h2>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="x_content">
                <p>Таблица содержит список e-mail, которые будут получать рассылку новостей.</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>E-mail</td>
                                <td>Удалить</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (BlackStorkApp.Models.SubscribeModel currentEmail in Model)
                            {
                                <tr>
                                    <td> @currentEmail.Email </td>
                                    <td>
                                        @using (Html.BeginForm("DeleteOfEmail", "Admin", FormMethod.Post))
                                        {
                                            <input type="hidden" name="SubscribeId" value="@currentEmail.SubscribeId " />
                                            <button type="submit" class="btn btn-link">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div><!--./x_content-->
            </div><!---./x_panel-->
        </div><!----/col-md-5-->

        <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="title_left">
                        <h2>Добавить новый e-mail</h2>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="x_content">
                <p>Введите e-mail пользователя, чтобы добавить его в список получателей рассылки.</p>
                    @using (Html.BeginForm("NewsLetter", "Admin", FormMethod.Post, new { @class = "form-horizontal form-label-left" } ))
                    {
                        <input type="hidden" name="SubscribeId" />
                        <div class="form-group">
                            <label>E-mail*</label>
                            <input class="form-control" type="text" name="Email" placeholder="Введите e-mail" required />
                        </div>

                        <div class="ln_solid"></div>

                        <div class="form-group" id="form">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <input class="btn btn-primary" type="submit" vale="Сохранить" />
                                <button type="submit" class="btn btn-success" onclick="form.reset()">Отменить</button>
                            </div>
                        </div>
                    }
                </div><!--/x_content-->
            </div><!---/x_panel-->
        </div><!---/col-md-7-->

    </div><!---/row-->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="title_left">
                        <h2>Сообщение для рассылки</h2>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="x_content">
                <p>Введите текст сообщения, которое будет рассылаться пользователям, подписавшимся на новости от Black Stork.</p>
                    <div class="form-group">
                        <label>Текст сообщения *</label>
                        <textarea class="resizable_textarea form-control" type="text" name="?????????"
                                  placeholder="Введите описание..." rows="10" required></textarea>
                    </div>
                </div><!----/x_content-->
            </div>
        </div>
    </div>
    
    
</div>



   


