
@{
    ViewBag.title = "Рассылка новостей";
}

<div class="row">
    <div class="page-title">
        <div class="title_left">
            Рассылка новостей
        </div>
    </div>

    <!---block with form for create a message-->
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                Создание сообщения
            </div>
            <div class="x_content">
                
            </div>
        </div>
    </div>

    <!---block with list of users-->
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                Список пользователей
            </div>
            <div class="x_content">

            </div>
        </div>
    </div>

</div>
