@{
    Layout = "~/Views/Error/ErrorLayout.cshtml"; ;
    ViewBag.Title = "Ошибка 403";
}

<h1 class="error-number">403</h1>
<h2>Извините, но у Вас нет доступа к запрашиваемому ресурсу.</h2>

<div class="mid_center">
    <a href="/Home/Index" class="btn btn-default">Перейти на главную страницу</a>
</div>
                   
