@{
    Layout = "~/Views/Error/ErrorLayout.cshtml";
    ViewBag.Title = "Ошибка 404";
}

<h1 class="error-number">404</h1>
<h2>Извините, мы не смогли найти данную страницу</h2>

                   


