@{
    Layout = "~/Views/Error/ErrorLayout.cshtml";
    ViewBag.Title = "Ошибка 500";
}

<h1 class="error-number">500</h1>
<h2>Извините, но пороизошла внутренняя ошибка сервера. 
    <br/>Возможно, что в данный момент сервер перегружен.
    Попробуйте повторить операцию чуть позже</h2>

                   