
@{
    Layout = "~/Views/Error/ErrorLayout.cshtml"; ;
    ViewBag.Title = "Ошибка 401";
}

<h1 class="error-number">401</h1>
<h2>Извините, но для просмотра данной страницы, Вам требуется пройти процедуру авторизации</h2>
