body {
}

.block-turquoise {
    background-color: rgb(26, 188, 156);
    height: 7%;
}

.block-turquoise .p {
    line-height: 1.8;
}

.block-navy {
    background-color: rgb(52, 73, 94);
    height: 7%;
}
.block-navy .p {
    line-height: 1.8;
}

.slider-main {
    background: url('../../Content/img/telmar-1-wt-v2.jpg') no-repeat;
    -ms-background-size: cover;
    background-size: cover
}

.slide-review {
    width: 100%; 
    float: left; 
    margin-right: -100%; 
    position: relative; 
    opacity: 0; 
    display: block; 
    z-index: 1;
}

.slide-review-active {
    width: 100%; 
    float: left; 
    margin-right: -100%; 
    position: relative; 
    opacity: 1; 
    display: block; 
    z-index: 2;
}

.flexslider-height {
    height: 5%;
}

p.main-block-margin {
    margin-top: 10%;
    margin-bottom: 10%;
}

.about-us {
    width:100%;
}

.about-us img {
    width: 100%;
}

.margin-bottom-10 {
    margin-bottom: 8% !important;
}

.upperase-main {
    font-weight: 600;
}

.testimonial-main {
    position: relative;
    padding: 60px 0;
    background-color: #F9F9F9;
    overflow: hidden;
}

.feedback-controls input {
    margin-bottom: 1%;
}

.feedback-controls textarea {
    margin-bottom: 1%;
}