@model BlackStorkApp.Models.ProductModel
@{
    ViewBag.Title = "DescriptionOfProduct";
}

<h2>DescriptionOfProduct</h2>
<p>@Model.Name</p>
<p>@Model.Description</p>
<p>@Model.PathForMainPhoto</p>
<p>@Model.PathForFolderWithPhotos</p>
