@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "О нас";
}

<section id="page-title">
    <div class="container clearfix">
        <h1>Обратная связь</h1>
        @Html.MvcSiteMap().SiteMapPath()
    </div>
</section><!-- #page-title end -->

<section id="content">
    <div class="content-wrap">
        <div class="container clear-bottommargin clearfix">
            <div class="row clearfix">
                <div class="col-md-8 bottommargin">
                    <h3>О нас</h3>
                    <p>Компания Black Stork была основана в 2013 году. Причиной к открытию компании послужила большая любовь к собакам и невозможность подобрать подходящее снаряжение для них в Беларуси. По мере выполнения индивидуальных заказов, мы смогли консолидировать размеры по породам и начали заниматься массовым пошивом нашей продукции.</p>
                    <p>На данный момент, владельцы ездовых собак могут приобрести у нас ездовые шлейки, ошейники, потяги, вилки, спайки, пояса для байкджординга и скиджординга. сумки для снаряжения, комбинезоны для прогулок, рюкзаки для собак и многое другое.</p>
                    <p>При разработке моделей, учитывается строение тела различных пород собак, особенности их движений. При изготовлении снаряжения, используются только качественные материалы с водо- и ветро- отталкивающими свойствами. На все снаряжение распространяется гарантия. </p>
                    <p>Мы дорожим своей репутацией и подходим к работе ответственно и внимательно. Цените свое время и деньги – доверяйте работу профессионалам, это облегчит ваши будни и подарит больше свободного времени.</p>                       
                </div>
            </div><!---row clearfix-->
        </div>
    </div>
</section>
