@model BlackStorkApp.Models.FeedbackModel
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Обратная связь";
}
<section id="page-title">
    <div class="container clearfix">
        <h1>Обратная связь</h1>
        @Html.MvcSiteMap().SiteMapPath()
    </div>
</section><!-- #page-title end -->

<section id="content">

    <!---place for modal window-->
    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>
    <!---/.for modal window-->

    <div class="content-wrap">
        <div class="container clear-bottommargin clearfix">
            <div class="row clearfix">
                <div class="col-md-8 bottommargin">
                    <div id="q-contact" class="feedback-controls clearfix">
                        <h4 class="highlight-me">Свяжитесь с нами</h4>
                        <div class="quick-contact-form-result"></div>
                        @using (Html.BeginForm("Feedback", "Home", FormMethod.Post, new { @class = "quick-contact-form nobottommargin" }))
                        {
                            @Html.TextBoxFor(model => model.UserName, new { @class = "required sm-form-control input-block-level", placeholder = "Имя" })
                            @Html.TextBoxFor(model => model.Email, new { @class = "required sm-form-control input-block-level", placeholder = "E-mail" })
                            @Html.TextAreaFor(model => model.MessageText, 4, 30, new { @class = "required sm-form-control input-block-level short-textarea", placeholder = "Текст сообщения" })
                            <button type="submit" @*id="quick-contact-form-submit" name="quick-contact-form-submit"*@
                                    class="button button-small button-3d nomargin feedbackItem" value="submit">
                                Отправить сообщение
                            </button>
                        }
                    </div>

                    <script type="text/javascript">
                        $(function () {
                            $.ajaxSetup({ cache: false });
                            $(".feedbackItem").click(function (e) {
                                e.preventDefault();
                                $.get(this.href, function (data) {
                                    $('#dialogContent').html(data);
                                    $('#modDialog').modal('show');
                                });
                            });
                        })
                    </script>

                @*</div>*@
            </div>
        </div>
    </div>
</section><!-- #content end -->