@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Главная";
}

<section id="slider" class="slider-parallax slider-main" data-height-lg="600" data-height-md="500" data-height-sm="400" data-height-xs="300" data-height-xxs="250">
    <div class="slider-parallax-inner">
        <div class="container clearfix">
            <div class="vertical-middle dark center">
                <div class="heading-block nobottommargin center">
                    <h1>
                        <span class="text-rotater nocolor" data-separator="|" data-rotate="flipInX" data-speed="3500">
                            АМУНИЦИЯ BLACK STORK это <span class="t-rotate">КАЧЕСТВО|УДОБСТВО</span>
                        </span>
                    </h1>
                    <span class="hidden-xs">Мы занимаемся изготовления амунции с 2012 года.</span>
                </div>
                    @Html.ActionLink("Просмотреть каталог", "Index", "Catalog", null, new {@class= "button button-border button-light button-rounded button-reveal tright button-large topmargin hidden-xs" })
            </div><!---.verical-middle-->
        </div>
    </div><!---.slider-parallax-inner-->
</section>
<div class="line"></div>

<div class="divcenter center clearfix" style="max-width: 900px;">
    <h2>Добро пожаловать на сайт <span>Black Stork!</span></h2>
    <h3>Производителя снаряжения для ездового спорта, а также другой амуниции для собак</h3>
    @Html.ActionLink("О нас", "Index", "Home", null, new { @class = "button button-3d button-dark button-large" })
    @Html.ActionLink("Блог", "Index", "Blog", null, new { @class = "button button-3d button-large" })
</div>
<div class="line"></div>

<div class="col_full common-height">
    <div class="col-md-4 dark col-padding ohidden block-turquoise">
        <div>
            <h3 class="uppercase upperase-main">Демократичная цена</h3>
            <p class="main-block-margin">Закупка материалов и фурнитуры осуществляется напрямую у производителя, благодаря чему достигается оптимизация расходов и привлекательная стоимость для покупателя. </p>
            <a href="#" class="button button-border button-light button-rounded uppercase nomargin">Подробнее</a>
            <i class="icon-bulb bgicon"></i>
        </div>
    </div>

    <div class="col-md-4 dark col-padding ohidden block-navy">
        <div>
            <h3 class="uppercase upperase-main">Индивидуальный подход</h3>
            <p class="main-block-margin">Наша компания предоставляет возможность изготовить интересующее Вас снаряжение по индивидуальным меркам и с использованием нестандартных материалов. </p>
            <a href="#" class="button button-border button-light button-rounded uppercase nomargin">Подробнее</a>
            <i class="icon-cog bgicon"></i>
        </div>
    </div>

    <div class="col-md-4 dark col-padding ohidden block-turquoise">
        <div>
            <h3 class="uppercase upperase-main">Оперативность исполнения</h3>
            <p class="main-block-margin">Даже при заказе снаряжения по индидуальным размерам, мы гарантируем оперативность исполнения и быструю доставку в любую точку мира.  </p>
            <a href="#" class="button button-border button-light button-rounded uppercase nomargin">Подробнее</a>
            <i class="icon-thumbs-up bgicon"></i>
        </div>
    </div>
</div><!---.col_full-->

<div class="line"></div>

<div class="section testimonial-main">
    <h4 class="uppercase center">Что говорят <span>клиенты</span> о black stork?</h4>
    <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
        <div class="flexslider">
            <div class="slider-wrap">
                <div class="slide">
                    <div class="testi-image">
                        <img src="~/Content/img/avatar_1.jpg" alt="Customer Testimonails">
                    </div>
                    <div class="testi-content">
                        <p>Уже второй раз заказываю снаряжение Black stork! Сделано с любовью, человеком, который отлично знает свое дело!</p>
                        <div class="testi-meta">
                            Маша Анацко
                            <span>Беларусь</span>
                        </div>
                    </div>
                </div>

                <div class="slide">
                    <div class="testi-image">
                        <img src="~/Content/img/avatar_1.jpg" alt="Customer Testimonails">
                    </div>
                    <div class="testi-content">
                        <p>Теперь у нас есть весь ассортимент аммуниции от Black Stork! Еще раз спасибо за Вашу работу и то, что Вы есть в Беларуси!</p>
                        <div class="testi-meta">
                            Наталья Жиевская
                            <span>Беларусь</span>
                        </div>
                    </div>
                </div>

                <div class="slide">
                    <div class="testi-image">
                        <img src="~/Content/img/avatar_1.jpg" alt="Customer Testimonails">
                    </div>
                    <div class="testi-content">
                        <p>Спасибо! Все на Высшем уровне, очень довольны! 100% качество.</p>
                        <div class="testi-meta">
                            Вероника Мацкевич
                            <span>Беларусь</span>
                        </div>
                    </div>
                </div>

            </div><!---.slider-wrap--->
        </div><!--.flexslider-->
    </div>
</div><!--.section topmargin-sm-->

