@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Главная";
}

<section id="content">
    <div class="content-wrap"> <h2>Cтраница находится в разработке</h2> </div>
</section>

