<p>Ваше сообщение отправлено! Вскоре мы с Вами свяжемся.</p>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">Карточка товара</h3>
    </div>
    <div class="modal-body">
<p>fsdfsdfs</p>
    </div>
</div>