@model BlackStorkApp.Models.UserAccountModel
@{
    Layout = "~/Views/Shared/LoginPage.cshtml";
}

@using (Html.BeginForm("PasswordRecovery", "Account", FormMethod.Post))
{
    <div class="row center">
        <h1>Восстановление пароля</h1>
    </div>
    <div class="col_full">
        <input type="hidden" name="UserId" value="@Model.UserId"/>
        <input type="hidden" name="Login" value="@Model.Login"/>
        @*<label for="login-form-username">Новый пароль:</label>
        <input class="form-control not-dark" type="password" id="login-form-username" name="Password" maxlength="20" required>*@
    </div>
    <div class="col_full">
        <label for="login-form-password">Подтвердите пароль:</label>
        <input class="form-control not-dark" type="password" id="login-form-password" name="HashOfPassword" maxlength="20" required />
    </div>
    <div class="col_full nobottommargin">
        <button class="button button-3d button-black nomargin" id="login-form-submit" type="submit">Сохранить новый пароль</button>
    </div>
}

