@{
    Layout = "~/Views/Shared/LoginPage.cshtml";
}

<div class="row center">
    <h1>Сброс пароля</h1>
    <p>Введите свой e-mail адрес и мы отправим <br/> Вам ссылку для восстановления пароля</p>
</div>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{
    <div class="col_full">
        <label for="email">E-mail:</label>
        <input class="form-control not-dark" type="email" id="email" name="login" maxlength="20" required>
   </div>

    <div class="col_full nobottommargin">
        <button type="submit" class="button button-3d button-black nomargin">Сбросить пароль</button>
    </div>
}


